[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/liuzc/LeaveIt.git
[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/Fastbyte01/KeepIt.git
