---
import Section from "../Section.astro"

import { certificates } from "@cv"
---

<Section title="Certificados">
  <ul class="flex flex-col gap-8">
    {
      certificates.map(({ name, date, issuer }) => {
        const year = new Date(date).getFullYear()

        return (
          <li>
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3 class="font-semibold">{name}</h3>
                </div>

                <time class="text-sm text-right lg:text-left min-w-24">{year}</time>
              </header>

              <footer>
                <p>{issuer}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>
