---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Certificates from '@/components/sections/Certificates.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Skills from '@/components/sections/Skills.astro';
---

<Layout title="Sobre mí">
	<main>
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Education />
		<Certificates />
	</main>
</Layout>

<style>
</style>
