---
const { title, class: className } = Astro.props;
---

<section class={`w-full text-balance max-w-3xl px-2 mt-0 mx-auto mb-10 md:mb-12 md:px-0 ${className || ''}`}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>